@pageWidth: 960px;

/* Extra reset */
h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
}

/* Core layout */

#wrapper {
	width: @pageWidth; /*this size allows the content to fit monitors of 1024px width and greater without horizontal scrolling*/
	margin: 0 auto; /*positions the content in the centre of the page*/
} 

header {
	font-family: 'Aldrich', sans-serif;
	h1 em {
		font-style: normal;
		color: #900;
	}
}

nav {
}

section {
	font-size: 12px;
	line-height: 150%;
	font-family: 'News Cycle', sans-serif;
}

/* Widgets */

.button-colours( @from, @to, @boxShadow, @border, @textShadow, @textColour: #fff ) {
	box-shadow :inset 0px 1px 0px 0px @boxShadow;
	background: -webkit-linear-gradient( top, @from 5%, @to 100% );
	background:    -moz-linear-gradient( top, @from 5%, @to 100% );
	background:         linear-gradient( to bottom, @from 5%, @to 100% );
	background-color: @from;
	border: 1px solid @border;
	color: @textColour;
	text-shadow: 1px 1px 0px @textShadow;
	&:hover {
		background: -webkit-linear-gradient( top, @to 5%, @from 100% );
		background:    -moz-linear-gradient( top, @to 5%, @from 100% );
		background:         linear-gradient( to bottom, @to 5%, @from 100% );
		background-color: @to;
	}
}

.button {
	cursor: pointer;
	box-shadow: inset 0px 1px 0px 0px;
	border-radius: 3px;
	text-indent: 0;
	border: 1px solid;
	display: inline-block;
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
	text-shadow: 1px 1px 0px;
	padding: 0 15px;
	line-height: 200%;

	.button-colours( #79bbff, #4197ee, #cae3fc, #469df5, #287ace );

	&:active {
		position: relative;
		top: 1px;
	}
	&.selected {
		.button-colours( #ff5bb0, #ef027d, #fbafe3, #ee1eb5, #c70067 );
	}
}

.button-submit {
	.button-colours( #9dce2c, #8cb82b, #c1ed9c, #83c41a, #689324 );
}

.button-cancel {
	.button-colours( #f24537, #c62d1f, #f5978e, #d02718, #810e05 );
}

/* Page layout */

@imageWidth: 400px;
@imagePadding: 10px;
@imagePanelWidth: @imageWidth + (2 * @imagePadding) + 2px;

.image-panel {
	width: @imagePanelWidth;
	float: left;
	.frame {
		border: 1px solid #ccc;
		padding: 10px;
		width: @imageWidth;
		text-align: center;
		.image {
			max-width: @imageWidth;
			max-height: @imageWidth * 1.5;
		}
		.caption {
			text-align: left;
			margin-top: 5px;
		}
	}
	.next {
		margin-top: 1em;
		text-align: center;
		.button {
			font-size: 16px;
		}
	}
}

@categoryPanelWidth: 300px;

.category-panel {
	float: left;
	margin-left: 20px;
	width: @categoryPanelWidth;
	.zap {
		width: @categoryPanelWidth;
		text-align: center;
		.button {
			font-size: 20px;
			padding: 0 40px;
		}
	}
}

.category-list {
	margin: 0;
	padding: 0;
	width: @categoryPanelWidth;
	li {
		list-style-type: none;
		margin-bottom: 2em;
	}
	.button {
		text-align: left;
		width: @categoryPanelWidth - 32px; /* button padding and border */
		font-size: 14px;
	}
}

@statsPanelWidth: @pageWidth - @imagePanelWidth - 20px - @categoryPanelWidth - 20px;

.stats-panel {
	float: left;
	margin-left: 20px;
	width: @statsPanelWidth;
}

.stats {
	line-height: 40px;
	font-size: 24px;
	margin: 5px 0 0 0;
	dt {
		float: left;
		clear: left;
		width: 24px;
		color: #9dce2c;
		text-shadow: 1px 1px 0px #689324;
	}
	dd {
		float: left;
		font-weight: bold;
		margin-left: 10px;
		color: #79bbff;
		text-shadow: 1px 1px 0px #287ace;
	}
}

footer {
}